@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif !important;
}

.profile {
	display: flex;
	background-color: #fafafafa;
	gap: 2rem;
    align-items: center;
    padding: 1rem;
    margin: 5rem;
    border-radius: 12px;
}

.img {
	background-color: #928989fa;
	width: 200px;
	height: 200px;
    border-radius: 8px;
}

.name-editor {
    font-size: 2rem;
    font-weight: bold;
}

.profile-data {
	display: flex;
    margin-bottom: 10px;
    flex-direction: column;
	/* grid-template-rows: 1fr 1fr; */
}

.data-editor {
	font-size: 16px;
}

.btn-add .btn {
	outline: none;
	background: none;
	border: none;
	color: #fafafa;
	background-color: #c93716;
	padding: 6px 12px;
	border-radius: 5px;
	font-size: 12px;
}

.social-data {
	margin-left: 6rem;
	background-color: antiquewhite;
}

.social-list {
	display: flex;
	gap: 1.5rem;
    margin-top: 1.5rem;
}

.social-list li {
    font-size: 12px;
    list-style: none;
}
